asgiref
dj-database-url
Django
django-cors-headers
djangorestframework
gunicorn
packaging
psycopg2-binary
sqlparse
typing_extensions
tzdata
whitenoise
djangorestframework-simplejwt
PyJWT
pytz
python-dotenv
gdal==3.10.2
psycopg2